
<div class="">
    <div class="carousel-gird-container" *ngIf="customOptions">
        <div class="owl-nav" >
            <button (click)="owlCar.prev()" class="owl-prev" [hidden]="isStart">
                <i class="bi bi-chevron-left"></i>
            </button>
        </div>
        <div>
            <owl-carousel-o [options]="customOptions" (changed)="getData($event)" #owlCar>
                <ng-template *ngIf="!mobile" carouselSlide>
                    <div class="bubble">
                        <div class="shop-all-container">
                            <h2 class="meet-favorites">Meet The Favorites</h2>
                            <a class="shop-all">SHOP ALL</a>
                        </div>
                    </div>
                </ng-template>
                <ng-template carouselSlide *ngFor="let item of products">
                    <item-card [product]="item"></item-card>
                </ng-template>  
            </owl-carousel-o>
        </div>
        <div class="owl-nav">
            <button (click)="owlCar.next()" class="owl-next" [hidden]="isEnd">
                <i class="bi bi-chevron-right"></i>
            </button>
        </div>
    </div>
    
</div>
